
@{
    ViewBag.Title = "CreateSuccess";
}

<h2>Account Created Successfully</h2>

<div>
    @using (Html.BeginForm("AdminOptions", "EATM"))
    {
        <button type="submit" class="btn btn-primary">Return to Options</button>
    }
</div>